<%- include('header') %> 
<%- include('navbar')%>

<br />
<form class="container">
	<div class="row">
		<div class="col-sm-4">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Customer Name</h5>
					<p class="card-text">Phone number</p>
				</div>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Customer Name</h5>
					<p class="card-text">Phone number</p>
				</div>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Customer Name</h5>
					<p class="card-text">Phone number</p>
				</div>
			</div>
		</div>
	</div>
</form>
<%- include('footer') %>