<%- include('header') %>

<div class="jumbotron centered">
  <div class="container">
    <i class="fa-solid fa-users" style="font-size: 100px;"></i>
    <h1 class="display-3">Vo Cua Ba</h1>
    <p class="lead">Welcome to Vo Cua Ba adminsite!</p>
    <hr>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
  </div>
</div>
</body>

<%- include('footer') %>
