<nav class="navbar navbar-expand-lg">
	<div class="container fixed-content" class="nav">
		<div class="nav-item">
			<a class="navbar-brand" href="/" id="logo" style="color: black">Logo</a>
		</div>
		<div id="Home" class="nav-item">
			<a href="/" class="current-page" style="color: black">Home</a>
		</div>
		<div id="Product" class="nav-item">
			<a href="/product" class="other-page" style="color: black">Product</a>
		</div>
		<div id="About" class="nav-item">
			<a href="/customer" class="other-page" style="color: black">Customers</a>
		</div>
		<div id="About" class="nav-item">
			<a href="/order" class="other-page" style="color: black">Orders</a>
		</div>
		<a role="button" class="btn" href="/logout" style="color: black">Log out</a>
	</div>
</nav>