<%- include('header') %> 
<%- include('navbar')%>

<br />
<form class="container">
	<div class="row">
		<div class="col-sm-4">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Order-1</h5>
					<p class="card-text">Total price: 10$</p>
				</div>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Order-2</h5>
					<p class="card-text">Total price: 11$</p>
				</div>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Order-3</h5>
					<p class="card-text">Total price: 10$</p>
				</div>
			</div>
		</div>
	</div>
</form>
<%- include('footer') %>