@import url("https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong");

body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  font: "Trirong", sans-serif;
  background-color: #000;
}
